<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>in.solomk.faker</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1650BF74-6464-4215-8770-292E4CCD2866</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AC72D03-6C8B-4C12-9B09-49F5F9D7FECD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3CBCA040-9199-4940-889E-ED740113A8F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AC72D03-6C8B-4C12-9B09-49F5F9D7FECD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4AC72D03-6C8B-4C12-9B09-49F5F9D7FECD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B8C1E50-BB74-4DED-A4D2-7125A910ECF4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>96678D60-25E1-4BDC-94F2-C835ACD98820</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96678D60-25E1-4BDC-94F2-C835ACD98820</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E724C4C-68AA-4915-B56A-34C5B8DA2C52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0823C503-BC93-4EE3-9BD4-EB516E886697</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Maksym Solomkin</string>
	<key>description</key>
	<string>Generates fake data based on joke2k/faker</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Faker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>5E724C4C-68AA-4915-B56A-34C5B8DA2C52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>5B8C1E50-BB74-4DED-A4D2-7125A910ECF4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1650BF74-6464-4215-8770-292E4CCD2866</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0823C503-BC93-4EE3-9BD4-EB516E886697</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 alfred-faker.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>alfred-faker.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96678D60-25E1-4BDC-94F2-C835ACD98820</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Name","arg":"name","subtitle":"Full Name"},{"title":"Email","arg":"email"},{"title":"Address","arg":"address"},{"title":"First Name","arg":"first_name"},{"title":"Last Name","arg":"last_name"},{"title":"Country","arg":"country"}]</string>
				<key>keyword</key>
				<string>fake</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Generate fake data</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>4AC72D03-6C8B-4C12-9B09-49F5F9D7FECD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>:fk</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>3CBCA040-9199-4940-889E-ED740113A8F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Generates fake data using https://github.com/joke2k/faker</string>
	<key>uidata</key>
	<dict>
		<key>0823C503-BC93-4EE3-9BD4-EB516E886697</key>
		<dict>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>1650BF74-6464-4215-8770-292E4CCD2866</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>3CBCA040-9199-4940-889E-ED740113A8F0</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>4AC72D03-6C8B-4C12-9B09-49F5F9D7FECD</key>
		<dict>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>5B8C1E50-BB74-4DED-A4D2-7125A910ECF4</key>
		<dict>
			<key>xpos</key>
			<integer>445</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>5E724C4C-68AA-4915-B56A-34C5B8DA2C52</key>
		<dict>
			<key>xpos</key>
			<integer>725</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>96678D60-25E1-4BDC-94F2-C835ACD98820</key>
		<dict>
			<key>note</key>
			<string>Pass provides type to faker</string>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.3</string>
	<key>webaddress</key>
	<string>https://github.com/solomkinmv/alfred-faker</string>
</dict>
</plist>
